.about__container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1030px;
  margin: 0 auto;
  margin-top: 2rem;
  
  article{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 31.25rem;

    h2 {
      font-weight: 700;
      font-size: 3.125rem;
      margin-bottom: 2.5rem;
    }

    p {
      font-weight: 400;
      font-size: 1.375rem;
    }

  }

  @media(max-width: 850px){
    flex-direction: column;
    text-align: justify;
    img{
      height: 396px;
      width: auto;
    }
  }
  @media(max-width: 400px){
    img{
      height: 300px;
      width: auto;
    }
  }
}

.about__bar{
  clip-path: polygon(100% 0, 100% 100%, 82% 100%, 0 100%, 0% 38%);
  position: absolute;
  margin-top: -5rem;

  width: 90rem;
  height: 7.5rem;
  background-color: #EAEAEA;

  @media(min-width: 90rem){
    width: 100%;
  }
  
  @media(max-width: 90rem){
    display: block;
    width: 100vw;
    margin-top: -4rem;
  }
}