.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  width: 100vw;
  padding: 0 1.6875rem;
  height: 5rem;
  z-index: 1000;
  background: linear-gradient(to bottom, var(--primary-light), var(--primary-dark));

  span{
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--secondary-light);
  }

  nav{
    display: flex;
    gap: 1.1rem;

    img{
      cursor: pointer;
      transition: 0.5s ease-in;

      &:hover{
        filter: brightness(1.1);
        transform: scale(1.1);
      }
    }
  }

  @media(max-width: 500px){
    padding: 0 0.7rem;
  }
}